# Copy this file to .env and add change it to your liking (for local development only!)

# leave empty to disable soundcloud
SOUNDCLOUD_CLIENT_ID=
SOUNDCLOUD_CLIENT_SECRET=

# password for /admin
ADMIN_USER=admin
ADMIN_PASSWORD=admin

# yatte api server used for yt mp3 link redirects (no trailing /)
YATTEE_SERVER=
# base64 encoded string of user:password used for basic auth for yattee server
YATTEE_AUTH=

# whether this a dev run - will be set by scripts. DO NOT CHANGE.
IS_DEV=false