# Copy this file to .env and add change it to your liking (for local development only!)
SOUNDCLOUD_CLIENT_ID=your_soundcloud_id
SOUNDCLOUD_CLIENT_SECRET=your_soundcloud_secret
ADMIN_USER=admin
ADMIN_PASSWORD=admin