@import "tailwindcss";

:root {
  color-scheme: light dark;
}

body {
  line-height: 1.5;
}

@theme static {
  --color-primary: var(--color-pink-600);
  --color-primary-hover: var(--color-pink-700);
  --color-secondary: var(--color-cyan-500);
  --color-secondary-hover: var(--color-cyan-600);
  --color-disabled-text: light-dark(var(--color-gray-400), var(--color-gray-500));
  --color-disabled-bg: light-dark(var(--color-gray-300), var(--color-gray-600));
  --color-default: light-dark(var(--color-gray-950), var(--color-gray-50));
  --color-default-bg: light-dark(var(--color-white), var(--color-gray-950));
  --color-error: light-dark(var(--color-red-700), var(--color-red-400));
  --color-success: var(--color-green-500);
  --color-card-bg: light-dark(var(--color-gray-100), var(--color-gray-800));
  --color-card-hover-bg: light-dark(var(--color-gray-200), var(--color-gray-900));
}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}