name: Build app on PR
on:
 workflow_dispatch:
 pull_request:
  branches: [ dev ]


jobs:
 build:
  name: Build app
  runs-on: ubuntu-latest
  steps:
    - name: Checkout
      uses: actions/checkout@v6
    - uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: "npm"
    - name: Install expect
      run: sudo apt install -y expect
    - name: Install dependencies
      run: npm ci
    - name: Verify build and startup
      run: expect -c 'set timeout 15; spawn npx partykit dev --no-hotkeys; expect "Ready on http" { exit 0 }; exit 1'
