name: Create Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v5
      with:
        tag_format: ${version}
        branches: |
          [
            'main',
            {
              name: 'dev',
              prerelease: true
            }
          ]
        extra_plugins: |
          @semantic-release/changelog
          @semantic-release/git
          @saithodev/semantic-release-backmerge
          @semantic-release/exec
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PARTYKIT_TOKEN: ${{ secrets.PARTYKIT_TOKEN }}
        PARTYKIT_LOGIN: ${{ secrets.PARTYKIT_LOGIN  }}
